h1 {
    font-size: 80px;
}

h2 {
    font-size: 42px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 16px 48px;
    font-size: 32px;
}

.container-1 .item-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-2 .item-1 {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.container-2 .rock {
    color: white;
    background-color: chocolate;
}

.container-2 .paper {
    background-color: white;
}

.container-2 .scissors {
    color: white;
    background-color: green;
}

.container-3 {
    display: flex;
    justify-content: space-around;
}

.container-3 .item-1 {
    margin-top: 64px;
}

.container-3 .item-1 > div > h2{
    font-size: 100px;
    text-align: end;
}

.container-3 .item-2 {
    margin-top: 64px;
}

.container-3 .item-2 > div >h2{
    font-size: 100px;
    text-align: end;

}